version: "3.4"

services:
  php:
    image: php:7.3-alpine
    volumes:
      - .:/var/www/html

  composer:
    image: composer:2
    volumes:
      - .:/app
      - composer-cache:/tmp/cache
    working_dir: /app
    command: '-V'

volumes:
  composer-cache:
    name: composer-cache
